<!DOCTYPE html>
<html>
    <head>
        <title>Raspberry server</title>

    </head>
    <body>
        <section class="container text-center">
            <h1 id="content"></h1>
        </section>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        </script>
        <script>
            const user = prompt("Username:")
            const ws = new WebSocket("ws://" + location.hostname + ":8000/" + user);
            ws.onmessage = (event) => {
                const data = JSON.parse(event.data)
                document.querySelector("#content").innerText = event.data
            };
            ws.onclose = () => {
                alert("Disconnected to websocket")
            }
        </script>

    </body>
</html>